<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform)="x64"?>
    
    <?define Platforma="x64" ?>
    <?define isPlatformx64="yes" ?>
    <?define FolderZmian="zmiana-x64" ?>
    <?define ProgramFiles="ProgramFiles64Folder" ?>
    
  <?else?>
    
    <?define Platforma="x86" ?>
    <?define isPlatformx64="no" ?>
    <?define FolderZmian="zmiana" ?>
    <?define ProgramFiles="ProgramFilesFolder" ?>
    
  <?endif?>
    
  <?if $(var.Configuration)="Release" ?>
    <?define Konfiguracja="Release" ?>
    <?define KonfiguracjaShort="r" ?>
  <?else?>
    <?define Konfiguracja="Debug" ?>
    <?define KonfiguracjaShort="d" ?>
  <?endif?>
  
  <Product Name='Space-Explorers 0.0.4' Id='C5D410BC-EB65-48AD-966D-24830261DF12' UpgradeCode='90B73C3B-7192-4C3F-A82B-CB7A2C07F571'
    Language='1045' Codepage='1250' Version='1.0.0' Manufacturer='Daniel Wojdak'>

    <Package Id='*' Keywords='Installer' Description="Space-Explorers 0.0.4 Instalator"
      Comments='Komentarz' Manufacturer='Daniel Wojdak' InstallScope='perMachine'
      InstallerVersion='200' Languages='1045' Compressed='yes' SummaryCodepage='1250' Platform='$(var.Platforma)'/>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
    <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />
    

    <Directory Id='TARGETDIR' Name='SourceDir'>

      <Directory Id='$(var.ProgramFiles)' Name="PFiles">
        <Directory Id='SPACE_EXPLORERS' Name='Space-Explorers'>
          <Directory Id='INSTALL_DIR' Name='bin'>
            <Directory Id='PLUGINS_DIR' Name='plugins'>
              <Directory Id='ZMIANA_DIR' Name='$(var.FolderZmian)'/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Space-Explorers"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <DirectoryRef Id='INSTALL_DIR'>
      <Component Id='SPACE_EXPLORERS_COM' Guid='5BE847C4-843E-4D82-93EF-16190F994885' Win64='$(var.isPlatformx64)'>
        <File Id='SPACE_EXPLORERS_EXE' Name='space.exe'  Source='..\out\SpaceExplorers-$(var.Platforma)-$(var.Konfiguracja).exe' KeyPath='yes' Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'>
          <Shortcut Id="MENU_SHORTCUT_SPACE_EXPLORERS_EXE" Directory="ProgramMenuDir" Name="Space-Explorers"
              WorkingDirectory='INSTALL_DIR' Advertise="yes" />
          <Shortcut Id="DESKTOP_SHORTCUT_SPACE_EXPLORERS_EXE" Directory="DesktopFolder" Name="Space-Explorers"
            WorkingDirectory='INSTALL_DIR' Advertise="yes" />
        </File>
      </Component>
      <Component Id='CONFIG_XML' Guid='71AFE2C6-5700-4DC5-BB15-2539017DF28B'>
        <File Id='CONFIG_XML_FILE' Source='..\out\options_test.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
      </Component>
     <Component Id='DATA_XML' Guid='7C5B3D1A-409B-4158-9F33-46606E344BF2'>
        <File Id='DATA_XML_FILE' Source='..\out\test.xml' KeyPath='yes' Vital='yes'/>
      </Component>
      <Component Id='PLUGIN_DLL' Guid='52493997-1318-4CD2-A046-0E1E309D7FB6' Win64='$(var.isPlatformx64)'>
        <File Id='PLUGIN_DLL_FILE' Source='..\out\plug-in-$(var.Platforma)-$(var.KonfiguracjaShort).dll' KeyPath='yes' Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
      </Component>
      <Component Id='LOGGER_DLL' Guid='07CEBB01-446A-4BB8-8A5C-49CAC8354360' Win64='$(var.isPlatformx64)'>
        <File Id='LOGGER_DLL_FILE' Source='..\out\Logger-$(var.Platforma)-$(var.KonfiguracjaShort).dll' KeyPath='yes' Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
      </Component>
      <Component Id='TRANSF_DLL' Guid='C9CDD52F-E2F0-49F4-8804-97CDB1DFA530' Win64='$(var.isPlatformx64)'>
        <File Id='TRANSF_DLL_FILE' Source='..\out\ftrans-$(var.Platforma)-$(var.KonfiguracjaShort).dll' KeyPath='yes' Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id='ZMIANA_DIR'>
      <Component Id='ZMIANA_TEST_DLL' Guid='5BB3843E-C319-4D3E-8896-92C9B1BDCED6' Win64='$(var.isPlatformx64)'>
        <File Id='ZMIANA_TEST_DLL_FILE' Source='..\out\plugins\$(var.FolderZmian)\test-zmiana-$(var.Platforma)-$(var.KonfiguracjaShort).dll' ProcessorArchitecture='$(var.Platforma)' KeyPath='yes' Vital='yes' Checksum='yes'/>
      </Component>
    </DirectoryRef>
      
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuDir" Guid="ABB83391-1450-4BB1-B391-1353AA8111D4">
        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>
    </DirectoryRef>
    
    <Feature Id='Complete' Level='1' AllowAdvertise='no' >
      <ComponentRef Id='SPACE_EXPLORERS_COM' />
      <ComponentRef Id='CONFIG_XML' />
      <ComponentRef Id='DATA_XML' />
      <ComponentRef Id='PLUGIN_DLL' />
      <ComponentRef Id='LOGGER_DLL' />
      <ComponentRef Id='TRANSF_DLL' />
      <ComponentRef Id='ZMIANA_TEST_DLL' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

  </Product>
</Wix>