<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- xmlns:game="http://schemas.microsoft.com/wix/GamingExtension" -->
  <?include definicje.wxi ?>
  <Product Name='Space-Explorers 0.0.6' Id='{69A94C86-BB5D-4039-92C6-F391C08526DC}' UpgradeCode='{CED84B90-554A-4462-B088-766A444C3FDA}'
    Language='1045' Codepage='1250' Version='0.0.6' Manufacturer='Daniel Wojdak'>

    <Package Id='*' Keywords='Installer' Description="Space-Explorers 0.0.6 Instalator"
      Comments='Komentarz' Manufacturer='Daniel Wojdak' InstallScope='perMachine'
      InstallerVersion='405' Languages='1045' Compressed='yes' SummaryCodepage='1250' Platform='$(var.Platforma)'/>
    <Icon Id="ikona.ico" SourceFile="..\out\zasoby\IkonaBlue.ico"/>
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
    <Property Id="ARPPRODUCTICON" Value="ikona.ico" />
    <Property Id='DiskPrompt' Value="Space-Explorers 0.0.6 Installation [1]" />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.ProgramFiles)' Name="PFiles">
        <Directory Id='KATALOGSPACEEXLORERS' Name='Space-Explorers'>          
          <Component Id="KatalogSpaceExplorersUprawnienia" Guid="{FF3790E7-757E-4DAD-ACE7-A819C253F578}">
            <CreateFolder>
              <util:PermissionEx User="Users" GenericAll="yes"/>
            </CreateFolder>
          </Component>          
          <Component Id="KatalogSpaceExplorersUsuwanieKomponent" Guid="{7849E820-0473-47DF-B5EB-BE588183CEAF}">
            <RemoveFolder Id='KatalogSpaceExplorersUsuwanie' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
          <Directory Id='KatalogDokumentacja' Name='dokumentacja'>
            <Directory Id='KatalogBiblioteki' Name='biblioteki'>
              <Component Id='PlikSpaceExplorersLibKomponent' Guid='{6EEEB92C-A2EF-4875-A2E2-A4DC7CB2A097}'>
                <File Id='PlikSpaceExplorersLib' Source='..\out\bin\SpaceExplorers-$(var.Platforma)-$(var.Configuration).lib' KeyPath='yes' 
                      Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
              </Component>
              <Component Id='PlikNarzedziaLibKomponent' Guid='{B91BCE4B-9B61-4AC0-889F-D82B2D9CF06A}'>
                <File Id='PlikNarzedziaLib' Source='..\out\bin\narzedzia-$(var.Platforma)-$(var.Configuration).lib' KeyPath='yes'
                      Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
              </Component>
              <Component Id='PlikAlgorytmyLibKomponent' Guid='{070E6659-9D2A-472D-935A-E22C0D719BE5}'>
                <File Id='PlikAlgorytmyLib' Source='..\out\bin\algorytmy-$(var.Platforma)-$(var.Configuration).lib' KeyPath='yes'
                      Vital='yes' Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
              </Component>
            </Directory>
            <Directory Id='KatalogSchematy' Name='schematy'>
              <Component Id='PlikSchematDanychXsdKomponent' Guid='{5D235FB6-DBC8-4F91-900F-26A8F56BC53B}'>
                <File Id='PlikSchematDanychXsd' Source='..\doc\dataSchema.xsd' Name='SchematDanych.xsd' KeyPath='yes' Vital='yes'/>
              </Component>
              <Component Id='PlikSchematStanuGryXsdKomponent' Guid='{87BE97A6-8134-4043-BD57-2C2875973F77}'>
                <File Id='PlikSchematStanuGryXsd' Source='..\doc\saveSchema.xsd' Name='SchematStanuGry.xsd' KeyPath='yes' Vital='yes'/>
              </Component>
              <Component Id='PlikSchematUzytkownikaXsdKomponent' Guid='{880146CF-1E42-49CE-AB4D-35E3BE4037AC}'>
                <File Id='PlikSchematUzytkownikaXsd' Source='..\doc\userSchema.xsd' Name='SchematUzytkownika.xsd' KeyPath='yes' Vital='yes'/>
              </Component>
              <Component Id='PlikSchematUkladuSlonecznegoXsdKomponent' Guid='{263CEFCD-3BC8-4CBF-838D-A842DB385606}'>
                <File Id='PlikSchematUkladuSlonecznegoXsd' Source='..\doc\saveSchema.xsd' Name='SchematUkladuSlonecznego.xsd' KeyPath='yes' Vital='yes'/>
              </Component>
            </Directory>
            <Directory Id='KatalogPlikiNaglowkowe' Name='plikiNaglowkowe'>
              <Component Id="KatalogPlikiNaglowkoweKomponent" Guid="{4B538089-585B-4D0B-9FB7-70EF4C8C9C85}" KeyPath='yes'>
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id='KatalogSerwera' Name='serwer'>
            <Directory Id='KatalogSerweraKonfiguracja' Name='konfiguracja'>
              <Component Id='PlikSerweraEkranyXmlKomponent' Guid='{067223A1-3751-49DD-BE75-08078959EF51}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraEkranyXml' Source='..\out\serwer\konfiguracja\ekrany.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikSerweraPowiazaniaXmlKomponent' Guid='{52CB78D1-44DA-4DAA-912F-C82AD2C9D5A9}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraPowiazaniaXml' Source='..\out\serwer\konfiguracja\powiazania.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikSerweraStateXmlKomponent' Guid='{7C4DD57C-6976-4CFC-A83F-AA09254867FC}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraStateXml' Source='..\out\serwer\konfiguracja\state.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikSerweraOptionsXmlKomponent' Guid='{6CA1A724-29C9-4221-A7BE-B71B843609AD}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraOptionsXml' Source='..\out\serwer\konfiguracja\options.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikSerweraMessageXmlKomponent' Guid='{4DDB1E91-63C9-4347-8421-F93BF79D9322}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraMessageXml' Source='..\out\serwer\konfiguracja\message.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
            </Directory>
            <Directory Id='KatalogSerweraLokalny' Name='lokalny'>
              <Component Id='PlikSerweraDaneTestoweXmlKomponent' Guid='{534CE2B9-818C-48AC-9557-423B081AF04C}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikSerweraDaneTestoweXml' Source='..\out\serwer\lokalny\danetestowe.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
            </Directory>            
            <Directory Id='KatalogSerweraLogiAplikacji' Name='logi'>
              <Component Id="KatalogSerweraLogiAplikacjiKomponent" Guid="{A67B9BB0-F01A-4B85-90F4-290BE6D5D252}" KeyPath='yes'>
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id='KatalogKlienta' Name='klient'>
            <Directory Id='KatalogKlientaKonfiguracja' Name='konfiguracja'>
              <Component Id='PlikKlientaEkranyXmlKomponent' Guid='{64512560-2D85-42C2-A50A-3A8265191A89}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikKlientaEkranyXml' Source='..\out\klient\konfiguracja\ekrany.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikKlientaPowiazaniaXmlKomponent' Guid='{5190C83D-CFDB-4D9F-9A2E-853F8BCC19F5}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikKlientaPowiazaniaXml' Source='..\out\klient\konfiguracja\powiazania.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikKlientaStateXmlKomponent' Guid='{CB43DDDC-FA18-4D05-B28F-E814F60346B8}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikKlientaStateXml' Source='..\out\klient\konfiguracja\state.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikKlientaOptionsXmlKomponent' Guid='{FBD80F77-1FCB-4AEC-8295-F32CB527411A}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikKlientaOptionsXml' Source='..\out\klient\konfiguracja\options.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
              <Component Id='PlikKlientaMessageXmlKomponent' Guid='{45759FAE-99F9-430F-9CB9-AE7A70CDCD22}' Win64='$(var.isPlatformx64)'>
                <File Id='PlikKlientaMessageXml' Source='..\out\klient\konfiguracja\message.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
              </Component>
            </Directory>
            <Directory Id='KatalogKlientaLoKalny' Name='lokalny'/>
            <Directory Id='KatalogKlientaLogiAplikacji' Name='logi'>
              <Component Id="KatalogKlientaLogiAplikacjiKomponent" Guid="{1DCD918D-F305-4FA5-AAA5-6A47DD4B1986}" KeyPath='yes'>
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id='KatalogDodatki' Name='dodatki'>
            <Component Id='PlikTestZmianyDllKomponent' Guid='{DAA516BF-F747-42A9-846B-26DA98055CB4}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTestZmianyDll' Source='..\out\dodatki\test-zmiana-$(var.Platforma)-$(var.KonfiguracjaShort).dll' 
                    ProcessorArchitecture='$(var.Platforma)' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
          </Directory>
          
          <Directory Id='KatalogZasoby' Name='zasoby'>
            <Component Id='CzcionkaArialKomponent' Guid='{D45ACF68-9246-4EF8-B155-7510AF93CBE6}' Win64='$(var.isPlatformx64)'>
              <File Id='CzcionkaArial' Source='..\out\zasoby\arial.ttf' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='CzcionkaConsolaKomponent' Guid='{DC6E9F77-5366-4ED8-B2D6-1339B54040C5}' Win64='$(var.isPlatformx64)'>
              <File Id='CzcionkaConsola' Source='..\out\zasoby\consola.ttf' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikSimpleFragKomponent' Guid='{889E2A2F-1483-4B18-91A6-71DF7EE45F43}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikSimpleFrag' Source='..\out\zasoby\simple.frag' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>          
            <Component Id='PlikBrakObrazkaKomponent' Guid='{8E22F9F2-9FD3-45FD-B867-BBFB7C80F0C8}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikBrakObrazka' Source='..\out\zasoby\Brak_obrazka.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikSpaceJpgKomponent' Guid='{4ACFB8C4-7769-4F90-9631-1B2A5B7237C2}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikSpaceJpg' Source='..\out\zasoby\space.jpg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikLogoPngKomponent' Guid='{FF911705-4970-4294-9190-E6014FC275CF}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikLogoPng' Source='..\out\zasoby\SpaceExplorers_logo_640x348.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikBlackPngKomponent' Guid='{039760AC-4CA2-4441-A88F-8CF8EC42B11B}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikBlackPng' Source='..\out\zasoby\Black.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikLogListXmlKomponent' Guid='{8B73CCC7-702C-4F50-BFF0-EA82A57A1B7B}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikLogListXml' Source='..\out\zasoby\loglist.xml' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikTloSurowcePngKomponent' Guid='{9E80B946-0E16-4BD6-83C8-27F90FECED46}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTloSurowcePng' Source='..\out\zasoby\tlo_surowce.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikFFFFFF0PngKomponent' Guid='{AB294D18-717D-496D-8187-C4563224C7AA}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikFFFFFF0Png' Source='..\out\zasoby\FFFFFF-0.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikTloPngKomponent' Guid='{479A16CB-8831-449A-93EE-0DBCBBFD829D}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTloPng' Source='..\out\zasoby\tlo.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikIkonaBlueIcoKomponent' Guid='{DF8804BE-C3E5-488E-850E-4F51BDD6FF42}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikIkonaBlueIco' Source='..\out\zasoby\IkonaBlue.ico' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikStartScreenPngKomponent' Guid='{4EBF4445-63F6-45AC-AC2A-D296C1894BE5}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikStartScreenPng' Source='..\out\zasoby\Space_start_screen.png' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
          </Directory>
          
          <Directory Id='KatalogEkrany' Name='ekrany'>
            <Component Id='PlikEkranListaKomponent' Guid='{6BE57AF1-770B-4DCA-B91D-24202EDA6156}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranLista' Source='..\out\ekrany\lista.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikEkranPustyKomponent' Guid='{FBE9C143-67BA-45A4-BE95-E7B2A7A7FED0}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranPusty' Source='..\out\ekrany\pusteOkno.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikEkranKonsolaKomponent' Guid='{1BF16B54-3EF5-49F0-B6D4-2A67297B3299}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranKonsola' Source='..\out\ekrany\konsola.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikEkranLogowanieKomponent' Guid='{BA5A60B3-7DDB-41D0-92B1-31527DFD07B1}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranLogowanie' Source='..\out\ekrany\logowanie.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikEkranMenuKomponent' Guid='{110A37FC-6CF1-44F1-9616-0CBA2BEC1307}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranMenu' Source='..\out\ekrany\menu.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
            <Component Id='PlikEkranTestowanieKomponent' Guid='{564C13AD-A5EC-432F-949C-E711D2422F04}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikEkranTestowanie' Source='..\out\ekrany\testowanie.wdg' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
          </Directory>
          
          <Directory Id='KatalogSkrypty' Name='skrypty'>
            <Component Id='PlikTestLuaKomponent' Guid='{5EA8B685-4FA2-49D8-B5CD-5ABE7B8CF214}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTestLua' Source='..\out\skrypty\test.lua' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>

            <Component Id='PlikInterfejsLuaKomponent' Guid='{BA7B7962-E2EA-41D6-BC82-9FE8BEC80717}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikInterfejsLua' Source='..\out\skrypty\interfejs.lua' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>

            <Component Id='PlikClassLuaKomponent' Guid='{246143CE-9E49-48CB-A34B-571AFE8A2CB9}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikClassLua' Source='..\out\skrypty\class.lua' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>

            <Component Id='PlikGuiLuaKomponent' Guid='{618A3BD4-13D4-460F-A322-B0377FBB3EEF}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikGuiLua' Source='..\out\skrypty\gui.lua' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>

            <Component Id='PlikAplikacjaLuaKomponent' Guid='{6968B6E7-D511-41D3-9DA8-CADB78003131}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikAplikacjaLua' Source='..\out\skrypty\aplikacja.lua' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>

            <Component Id='PlikTestSkryptuDllKomponent' Guid='{20A925BB-8B1B-42B0-8869-445D4856403A}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTestSkryptuDll' Source='..\out\skrypty\TestSkryptuDll.dll' KeyPath='yes' Vital='yes' Checksum='yes'/>
            </Component>
          </Directory>

          <Directory Id='KatalogBin' Name='bin'>
            <Component Id='SpaceExplorersExeKomponent' Guid='{9D1AFABF-F924-4213-97FA-189A3B3568F9}' Win64='$(var.isPlatformx64)'>
              <File Id='SpaceExplorersExe' Source='..\out\bin\SpaceExplorers-$(var.Platforma)-$(var.Configuration).exe' KeyPath='yes' Vital='yes'
                    Checksum='yes' ProcessorArchitecture='$(var.Platforma)'>
                <Shortcut Id="SpaceExplorersExeSkrotMenuKlient" Directory="ProgramMenuDir" Name="Space-Explorers Klient" WorkingDirectory='KATALOGSPACEEXLORERS'
                          Advertise="yes" Arguments="-O Klient\konfiguracja\options.xml -T Klient" Icon="ikona.ico"/>
                <Shortcut Id="SpaceExplorersExeSkrotMenuSerwer" Directory="ProgramMenuDir" Name="Space-Explorers Serwer" WorkingDirectory='KATALOGSPACEEXLORERS'
                          Advertise="yes" Arguments="-O Serwer\konfiguracja\options.xml -T Serwer" Icon="ikona.ico"/>
                <Shortcut Id="SpaceExplorersExeSkrotPulpitKlient" Directory="DesktopFolder" Name="Space-Explorers Klient" WorkingDirectory='KATALOGSPACEEXLORERS'
                          Advertise="yes" Arguments="-O Klient\konfiguracja\options.xml -T Klient" Icon="ikona.ico"/>
                <Shortcut Id="SpaceExplorersExeSkrotPulpitSerwer" Directory="DesktopFolder" Name="Space-Explorers Serwer" WorkingDirectory='KATALOGSPACEEXLORERS'
                          Advertise="yes" Arguments="-O Serwer\konfiguracja\options.xml -T Serwer" Icon="ikona.ico"/>
                <!--game:Game Id="{312026C1-94A6-4C5D-89B5-76F310F3B734}">
                  <game:PlayTask Name="Graj" Arguments="-O $(var.PlikOpcji)"/>
                  <game:SupportTask Name="Strona domowa" Address="http://klusekrules.github.io/space-explorers/"/>
                </game:Game-->
              </File>
            </Component>

            <Component Id='PlikLoggerDllKomponent' Guid='{167F5E68-D0A4-40E4-B1A2-34EC8012FB24}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikLoggerDll' Source='..\out\bin\logger-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes' Checksum='yes'
                    ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
            <Component Id='PlikZmianaDllKomponent' Guid='{3ADD9D0C-DD33-448A-8686-749E8D6002D7}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikZmianaDll' Source='..\out\bin\zmiana-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes' Checksum='yes'
                    ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
            <Component Id='PlikParserDllKomponent' Guid='{57583659-81DA-4468-AE47-E5243270C730}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikParserDll' Source='..\out\bin\parser-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes' Checksum='yes'
                    ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
            <Component Id='PlikTypyProsteDllKomponent' Guid='{177070A0-EE7C-49DB-8F7B-33740C3E9466}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikTypyProsteDll' Source='..\out\bin\typy-proste-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes'
                    Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
            <Component Id='PlikAlgorytmyDllKomponent' Guid='{AEFFEEDF-8C0D-4014-A72F-17F23B45E2A4}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikAlgorytmyDll' Source='..\out\bin\algorytmy-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes'
                    Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
            <Component Id='PlikNarzedziaDllKomponent' Guid='{BCBD9A6E-7099-4CE2-86CD-2886E3D64A2D}' Win64='$(var.isPlatformx64)'>
              <File Id='PlikNarzedziaDll' Source='..\out\bin\narzedzia-$(var.Platforma)-$(var.Configuration).dll' KeyPath='yes' Vital='yes'
                    Checksum='yes' ProcessorArchitecture='$(var.Platforma)'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Space-Explorers">
          <Component Id="ProgramMenuDirUsuwanieKomponent" Guid="{0FF2B874-B38E-44F6-AB75-E1F5E298A320}">
            <RemoveFolder Id='ProgramMenuDirUsuwanie' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="Microsoft_VC141_$(var.CRTName)CRT_$(var.Platforma).msm" DiskId="1" Language="0"/>
    </DirectoryRef>

    <Feature Id='Complete' Title='Space-Explorers 0.0.6' Description='Moja aplikacja'
      Display='expand' Level='1' AllowAdvertise='no' ConfigurableDirectory="KATALOGSPACEEXLORERS" >
      <ComponentRef Id="KatalogSpaceExplorersUprawnienia"/>
      <ComponentRef Id="KatalogSpaceExplorersUsuwanieKomponent"/>
      <ComponentRef Id="PlikSpaceExplorersLibKomponent"/>
      <ComponentRef Id="PlikNarzedziaLibKomponent"/>
      <ComponentRef Id="PlikAlgorytmyLibKomponent"/>
      <ComponentRef Id="PlikSchematDanychXsdKomponent"/>
      <ComponentRef Id="PlikSchematStanuGryXsdKomponent"/>
      <ComponentRef Id="PlikSchematUzytkownikaXsdKomponent"/>
      <ComponentRef Id="PlikSchematUkladuSlonecznegoXsdKomponent"/>
      <ComponentRef Id="KatalogPlikiNaglowkoweKomponent"/>
      <ComponentRef Id="PlikSerweraEkranyXmlKomponent"/>
      <ComponentRef Id="PlikSerweraPowiazaniaXmlKomponent"/>
      <ComponentRef Id="PlikSerweraStateXmlKomponent"/>
      <ComponentRef Id="PlikSerweraOptionsXmlKomponent"/>
      <ComponentRef Id="PlikSerweraMessageXmlKomponent"/>
      <ComponentRef Id="PlikSerweraDaneTestoweXmlKomponent"/>
      <ComponentRef Id="KatalogSerweraLogiAplikacjiKomponent"/>
      <ComponentRef Id="PlikKlientaEkranyXmlKomponent"/>
      <ComponentRef Id="PlikKlientaPowiazaniaXmlKomponent"/>
      <ComponentRef Id="PlikKlientaStateXmlKomponent"/>
      <ComponentRef Id="PlikKlientaOptionsXmlKomponent"/>
      <ComponentRef Id="PlikKlientaMessageXmlKomponent"/>
      <ComponentRef Id="KatalogKlientaLogiAplikacjiKomponent"/>
      <ComponentRef Id="PlikTestZmianyDllKomponent"/>
      <ComponentRef Id="CzcionkaArialKomponent"/>
      <ComponentRef Id="CzcionkaConsolaKomponent"/>
      <ComponentRef Id="PlikSimpleFragKomponent"/>
      <ComponentRef Id="PlikBrakObrazkaKomponent"/>
      <ComponentRef Id="PlikSpaceJpgKomponent"/>
      <ComponentRef Id="PlikLogoPngKomponent"/>
      <ComponentRef Id="PlikBlackPngKomponent"/>
      <ComponentRef Id="PlikLogListXmlKomponent"/>
      <ComponentRef Id="PlikTloSurowcePngKomponent"/>
      <ComponentRef Id="PlikFFFFFF0PngKomponent"/>
      <ComponentRef Id="PlikTloPngKomponent"/>
      <ComponentRef Id="PlikIkonaBlueIcoKomponent"/>
      <ComponentRef Id="PlikStartScreenPngKomponent"/>
      <ComponentRef Id="PlikEkranListaKomponent"/>
      <ComponentRef Id="PlikEkranPustyKomponent"/>
      <ComponentRef Id="PlikEkranKonsolaKomponent"/>
      <ComponentRef Id="PlikEkranLogowanieKomponent"/>
      <ComponentRef Id="PlikEkranMenuKomponent"/>
      <ComponentRef Id="PlikEkranTestowanieKomponent"/>
      <ComponentRef Id="PlikTestLuaKomponent"/>
      <ComponentRef Id="PlikInterfejsLuaKomponent"/>
      <ComponentRef Id="PlikClassLuaKomponent"/>
      <ComponentRef Id="PlikGuiLuaKomponent"/>
      <ComponentRef Id="PlikAplikacjaLuaKomponent"/>
      <ComponentRef Id="PlikTestSkryptuDllKomponent"/>
      <ComponentRef Id="SpaceExplorersExeKomponent"/>
      <ComponentRef Id="PlikLoggerDllKomponent"/>
      <ComponentRef Id="PlikZmianaDllKomponent"/>
      <ComponentRef Id="PlikParserDllKomponent"/>
      <ComponentRef Id="PlikTypyProsteDllKomponent"/>
      <ComponentRef Id="PlikAlgorytmyDllKomponent"/>
      <ComponentRef Id="PlikNarzedziaDllKomponent"/>
      <ComponentRef Id="ProgramMenuDirUsuwanieKomponent"/>
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <UI Id="MyWixUI_InstallDir">
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!--DialogRef Id="UserRegistrationDlg" />

      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="UserRegistrationDlg" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="UserRegistrationDlg">1</Publish-->
    </UI>
    <Property Id="PIDTemplate"><![CDATA[12345<##### ##### ##### ##### #####>@@@@@]]></Property>
    <Property Id="WIXUI_INSTALLDIR" Value="KATALOGSPACEEXLORERS" />
    <WixVariable Id="WixUILicenseRtf" Value="..\doc\gpl-3.0.rtf" />
    <!--WixVariable Id="WixUIBannerBmp" Value="Logo.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="LogoSide.Bmp" /-->
  </Product>

  <Fragment>
    <UI>
      <Dialog Id="UserRegistrationDlg" Width="370" Height="270" Title="!(loc.UserRegistrationDlg_Title)" NoMinimize="yes">
        <Control Id="NameLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="!(loc.UserRegistrationDlg_UserName)" />
        <Control Id="NameEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="USERNAME" Text="{80}" />
        <Control Id="OrganizationLabel" Type="Text" X="45" Y="110" Width="100" Height="15" TabSkip="no" Text="!(loc.UserRegistrationDlg_Organization)" />
        <Control Id="OrganizationEdit" Type="Edit" X="45" Y="122" Width="220" Height="18" Property="COMPANYNAME" Text="{80}" />
        <Control Id="CDKeyLabel" Type="Text" X="45" Y="147" Width="50" Height="10" TabSkip="no">
          <Text>CD Key:</Text>
        </Control>
        <Control Id="CDKeyEdit" Type="MaskedEdit" X="45" Y="159" Width="250" Height="16" Property="PIDKEY" Text="[PIDTemplate]" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="ValidateProductID" Value="0">1</Publish>
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
          <Publish Event="NewDialog" Value="InstallDirDlg">ProductID</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter your customer information</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Customer Information</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>